.stk_tree_icon_org_dept
{
    float:left;
    cursor:pointer;
    width:16px;
    height:16px;
    background-image:url("../images/dept.gif");
    background-repeat:no-repeat;
}

.stk_tree_icon_org_position
{
    float:left;
    cursor:pointer;
    width:16px;
    height:16px;
    background-image:url("../images/position.gif");
}
.stk_tree_icon_org_team
{
    float:left;
    cursor:pointer;
    width:16px;
    height:16px;
    background-image:url("../images/team.gif");
}
.stk_tree_icon_org_employee
{
    float:left;
    cursor:pointer;
    width:16px;
    height:16px;
    background-image:url("../images/employee.gif");
}