<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--encodingFilter配置-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>userSessionFilter</filter-name>
        <filter-class>com.sinitek.managerframework.base.filter.WebFilterTemplate</filter-class>
        <init-param>
            <param-name>templatename</param-name>
            <param-value>userSessionFilter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>userSessionFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/dwr/*</url-pattern>
        <url-pattern>/sirm/io/*</url-pattern>
    </filter-mapping>

    <!--XSS-->
    <filter>
        <filter-name>xssfilter</filter-name>
        <filter-class>com.sinitek.managerframework.security.xss.filter.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>xssfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
        <init-param>
            <param-name>configProviders</param-name>
            <param-value>com.sinitek.managerframework.base.struts2.config.providers.CustomConfigurationProvider
            </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!--文本编辑器图片保存-->
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>com.sinitek.spirit.webcontrol.doceditor.ImageUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/imageUpload</url-pattern>
    </servlet-mapping>

    <!--启动LOG4J-->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!--Dwr配置-->
    <servlet>
        <servlet-name>dwr</servlet-name>
        <servlet-class>
            org.directwebremoting.servlet.DwrServlet
        </servlet-class>
        <init-param>
            <param-name>allowScriptTagRemoting</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>customConfigurator</param-name>
            <param-value>com.sinitek.managerframework.base.dwr.CustomDwrConfigurator</param-value>
        </init-param>
        <!--<init-param>
            <param-name>config-pub</param-name>
            <param-value>/WEB-INF/dwr.xml</param-value>
        </init-param>-->
        <init-param>
            <param-name>config-spirit</param-name>
            <param-value>/WEB-INF/framework/dwr-spirit.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>classes</param-name>
            <param-value>java.lang.Object</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>DEBUG</param-value>
        </init-param>
        <init-param>
            <param-name>
                org.directwebremoting.extend.Remoter
            </param-name>
            <param-value>com.sinitek.managerframework.base.dwr.DWRFilterRemoter</param-value>
        </init-param>
        <init-param>
            <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>pollAndCometEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>fasle</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <!--Spring配置-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:springCfg/*.xml</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webmanage.root</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.sinitek.managerframework.base.listener.AppLoaderListener</listener-class>
    </listener>

    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>first.jsp</welcome-file>
    </welcome-file-list>
</web-app>